.bg-electric-violet {
    background-color: $electric-violet;
}

.bg-victoria {
    background-color: $victoria;
}

.bg-blue {
    background-color: $blue;
}

.bg-egg-blue {
    background-color: $egg-blue;
}

.bg-shark {
    background-color: $shark;
}